body {
	background-color: #00bcd4;
}

body > .pusher {
	align-items: center;
	display: flex;
	position: relative;
	width: 100vw;
	height: 100vh;
}

body > .pusher > .ui.basic.segment {
	background-color: #fff;
	margin: 0 auto;
	width: 350px;
	padding: 2rem 1.5rem;
}

.ui.header > .image,
.ui.header > img {
	width: 1.5em;
}

.ui.header > .image + .content, 
.ui.header > img + .content {
	font-weight: 100;
}

.ui.form .field {
	margin: 0 0 0.5em;
}

.ui.form .field > label {
	font-weight: normal;
}